<%= error_messages_for 'scene_description' %>

<!--[form:scene_description]-->
<p><label for="scene_description_pid">Pid</label><br/>
<%= text_field 'scene_description', 'pid'  %></p>

<p><label for="scene_description_text">Text</label><br/>
<%= text_area 'scene_description', 'text'  %></p>

<p><label for="scene_description_comment">Comment</label><br/>
<%= text_area 'scene_description', 'comment'  %></p>
<!--[eoform:scene_description]-->

