<%= form_tag() if amask(Account::CAN_EDIT_LOOT_CHAINS) %>
<table width="100%">
<thead>
<tr>
	<th>Creature Type</th>
	<th>ResRef</th>
	<th>Tag</th>
	<th>Name</th>
	<th style="width: 30px;">replace?</th>
	<th>Loot</th>
	<th>Chance</th>
	<th>actions</th>
</tr>
</thead>
<tbody>
