*.mod
*.tgz
*.o
*.so
*.class
tags
**/Makefile
autom4te.cache
config.h
config.log
config.status
linnwnx2/*/Makefile
linnwnx2/configure
mod/naturaldocs-project/Data/
mod/naturaldocs-project/Menu_Backup*
