<% if !get_user %>
<%= form_tag  %>
<%= text_field "login", "account" %><br>
<%= password_field "login", "password" %><br>
<%= submit_tag "Login" %>
<%= end_form_tag %>
<% else %>
Du bist bereits eingelogged.
<% end %>
