<%
	a = []
	for m in @merchants	
		a << link_to(m.id.to_s + ": " + m.tag, :action => 'edit', :id => m.id) + ": " + m.comment
	end
%>
<%= a.join("<br>") %>
<br><br>
<%= form_tag :action => 'add' %>
<input type="text" name="tag" value="changeme">
<%= submit_tag "create new with tag"%>
<%= end_form_tag%>
