<% for column in Rideables.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @rideables.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @rideables %> |
<%= link_to 'Back', :action => 'list' %>
