<% for column in Rideable.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @rideable.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @rideable %> |
<%= link_to 'Back', :action => 'list' %>
