<tr>
	<td class="foot">
	</td>

	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
		<%= submit_tag("Update") if form %>
	</td>
</tr>

</table>
