<tr>
	<td class="foot">
	</td>

	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
	</td>
	<td class="foot">
		<%= submit_tag("Update") if false && form %>
	</td>
</tr>

</table>
