<%= render :partial => 'search', :locals => {
	:characters => @characters,
	:character_pages => @character_pages,
	:search => @search,
	:onlineonly => @onlineonly,
	:sort => @sort,
	:order => @order,
}%>

