<h2>Enchanting Calculator</h2>

<pre>
price type
 dnd3.5 | marken

enchant type
 armor | shield | weapon 

if type == armor
#TODO
end
if type == shield
#TODO
end


if type == weapon

price = weapon_type +

xp = 

end
</pre>
