<tr>
	<td class="center"><%= Account.find(m.aid).account %></td>
	<td class="center"><%= Character.find(m.tcid).account.account %>/<%= Character.find(m.tcid).character %></td>
	<td class="center"><%= m.xp %></td>
</tr>
