<p>
<img src="http://users.elven.de/silm/combine_online_day.png">
</p><p>
<img src="http://users.elven.de/silm/users_week.png">
</p><p>
<img src="http://users.elven.de/silm/classes_online_week.png">
</p>

<%
# <img src="http://users.elven.de/silm/users_day.png">
# </p><p>
# <img src="http://users.elven.de/silm/classes_online_day.png">
%>
