<ul class="resrefs">
<%  @resrefs.each do |resref,hash| -%>
<li class="resref">
<div class="resref_ref"><%=h resref %></div>
<div class="resref_name">
<span class="informal"><%=h hash[:name] %></span>
</div>
</li>
<% end -%>
</ul>
