<table width="100%">
<tr>
	<td style="font-weight: bold">Area Type</td>
	<td style="font-weight: bold">Temp</td>
	<td style="font-weight: bold">Wind</td>
	<td style="font-weight: bold">Prec</td>
	<td style="font-weight: bold">ayear</td>
	<td style="font-weight: bold">amonth</td>
	<td style="font-weight: bold">aday</td>
	<td style="font-weight: bold">zyear</td>
	<td style="font-weight: bold">zmonth</td>
	<td style="font-weight: bold">zday</td>
	<td style="font-weight: bold">action?</td>
</tr>
