<h1>Editing persistent_object</h1>

<% form_tag :action => 'update', :id => @persistent_object do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @persistent_object %> |
<%= link_to 'Back', :action => 'list' %>
